@import "~@angular/material/prebuilt-themes/indigo-pink.css";

  mat-sidenav {
    width: 250px;
    height: 100%;
    &-container, &-content {
    height: 100%;
  }
}
  
  a {
    text-decoration: none;
    color: white;
    &:hover,
    &:active {
      color: lightgray;
    }  
  }
  

  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 20%;
  }
  
  .label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 70%;
  }

  .spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}